.navi
{
	width:1000px;
	margin:auto;
	text-align:left;
}

.registerBody
{
	background-color:Gray;
	text-align:center;
}

.fs_border
{
	border:solid 2px #ffcc00;
	width:80%;
	margin:auto;
	text-align:left;
}

.registerTable
{
	width:90%;
	background-color:Yellow;
	border:solid 1px Black;
	margin:auto;
}

.row1
{
	width:100%;
	background-color:#666666;
}

.row2
{
	width:100%;
	background-color:#ffcc00;
}

#cssTest
{
	border:solid 1px #000000;
}

.left
{
	text-align:left;
}

.right
{
	text-align:right;
}

.tableDiv
{
	width:100%;
	text-align:center;
}